+++
title       = "DFTK included in virtual oxide verification study"
rss         = "DFTK included in virtual oxide verification study comparing against other plane-wave DFT codes."
rss_pubdate = Date(2026, 01, 16)
type        = "achievement"
startpage   = true
+++

{{newsheader}}

**15.01.2026** Recently **Bruno Ploumhans** from our team has been running the
[**virtual oxide verification study** by Bosoni *et. al.*](https://doi.org/10.1038/s42254-023-00655-3)
with the **density-functional toolkit (DFTK)**.
Our code is now fully included in the interactive results shown on
[https://acwf-verification.materialscloud.org/](https://acwf-verification.materialscloud.org/). General agreement with other codes is excellent, save a few examples on the bottom right of the periodic table, where we are currently investigating the deviations.

[![Website screenshot](/assets/2026.01.15_DFTK_verification.png)](https://acwf-verification.materialscloud.org/)
