h1 {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 1em !important;
}

h1,
h2 {
    color: #555;
}
h2 {
    margin-bottom: 0.7em !important;
}


html,
body {
    font-size: 18px;
}

.sidebar {
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #282936;
}

.content {
    padding-top: 0;
}

.frankin-content {
    margin-top: 2em;
}
.franklin-content pre > code {
    border: 1px solid #6b8e2340;
    padding: 1.5em;
    border-radius: 0;
}

pre.code-output {
    background: #6b8e2340;
    padding-left: 0.5em;
}

.code-output code {
    border-radius: 0;
    padding-left: 1em !important;
    background: white;
}

.docstring {
    border: 1px solid #f1f1f1;
    padding: 1em;
    margin-bottom: 2em;
}

.franklin-content .docstring h2.doc-header {
    font-size: 1.25em;
    color: #008080;
    margin: 16px 0;
}

.franklin-content .docstring h1 {
    font-size: 1.2em;
}
.franklin-content .docstring h2 {
    font-size: 1em;
}

.docstring .doc-type {
    font-size: 1em;
    color: #6b8e2350;
    float: right;
}

.franklin-content h1 {
    margin-bottom: 0;
    font-size: 1.66em;
    border: none;
}
.franklin-content h2 {
    border: none;
    font-size: 1.33em;
    font-style: normal;
    font-weight: bold;
}

.sidebar-about h1 {
    font-family: "Recursive", sans-serif;
    border-bottom: none !important;
    font-size: 1.1em;
    opacity: 0.95;
    margin-top: -0.2em;
}

.sidebar-about h2 {
    font-family: "Recursive", sans-serif;
    border-bottom: none !important;
    font-size: 0.8em;
    color: White;
    font-style: italic;
    font-weight: bold;
    margin-top: -1em;
}

@media (min-width: 768px) {
    .sidebar-nav {
    }
}
.sidebar .container.sidebar-sticky {
    top: 1rem;
}
.sidebar-nav .sidebar-nav-item.active {
    box-sizing: border-box;
    background: #f0f8ff40;
    margin-right: -1em;
    margin-left: -0.5em;
    padding-left: 0.5em;
    color: white;
    font-weight: normal !important;
}
.sidebar-nav .sidebar-nav-item {
    /*font-size: 0.97em;*/
    color: #cccccc;
    margin: 0.25em 0;
}

a.sidebar-nav-subitem:hover,
a.sidebar-nav-subitem:focus {
  text-decoration: underline;
}

.sidebar-nav .sidebar-nav-subitem.active {
    box-sizing: border-box;
    background: #f0f8ff40;
    margin-right: -1em;
    margin-left: -0.5em;
    padding-left: 1.5em;
    color: white;
}
.sidebar-nav .sidebar-nav-subitem {
    display: block;
    line-height: 1.75;
    /*font-size: 0.97em;*/
    color: #cccccc;
    margin-left: 1em;
}

.page-foot img.logo, .franklin-content img.logo {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: -2px;
}

.page-foot {
    margin-bottom: 0;
}

.frontnews {
    border-radius: 20px;
    background-color: #eeeeee;
    padding: 1px 25px 10px 25px;
    margin-top: 2em;
    /* TODO styling of news-block on front page */
}

.frontnews h2 {
    margin-top: 0.75em;
}

.franklin-content img.profile-img {
  border-radius: 50% !important;
  height: auto;
  width:  3.8rem;
  max-width: 100%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

.franklin-content img.social-logo {
  width:      16px;
  min-width:  16px;
  height:     16px;
  min-height: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: .6ex;
  vertical-align: -0.2em;
  opacity: 0.95;
}

.content .weak-text {
  color: #909090;
}

/*
 *  EPFL adaption
 */
.franklin-content a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ee3333;
}

.franklin-content a:hover {
  color: #ee3333;
  text-decoration: underline;
  text-decoration-color: black;
}
.franklin-content h1 a { color: inherit; text-decoration: none; }
.franklin-content h2 a { color: inherit; text-decoration: none; }
.franklin-content h3 a { color: inherit; text-decoration: none; }
.franklin-content h4 a { color: inherit; text-decoration: none; }
.franklin-content h5 a { color: inherit; text-decoration: none; }
.franklin-content h6 a { color: inherit; text-decoration: none; }

.franklin-content h1 a:hover { color: inherit; text-decoration: none; }
.franklin-content h2 a:hover { color: inherit; text-decoration: none; }
.franklin-content h3 a:hover { color: inherit; text-decoration: none; }
.franklin-content h4 a:hover { color: inherit; text-decoration: none; }
.franklin-content h5 a:hover { color: inherit; text-decoration: none; }
.franklin-content h6 a:hover { color: inherit; text-decoration: none; }

.sidebar .sidebar-nav a:hover { color: #ee3333; text-decoration: none; }



